<!-- Start intro section -->
<section id="intro" class="section-intro">
	<div class="container">
		<div class="main-text">
			<h1 class="intro-title">
				Welcome To <span style="color: #3498DB">Store Search</span>
			</h1>
			<p class="sub-title">Search for Book Store</p>
			<!-- Start Search box -->
			
				<div class="advanced-search">
					<form class="search-form" method="get">

						<div class="col-md-3 col-sm-6 search-col">
							<input type="text"  class="form-control"
								 ng-model="search" place-holder="City or Pincode or State"/>
						</div>
						<div class="col-md-3 col-sm-3 search-col">
							<button class="btn btn-common btn-search btn-block" ng-click="getSearch()">
								<strong>Search</strong>
							</button>
						</div>
						<div class="col-md-3 col-sm-3 search-col">
							<button class="btn btn-common btn-search btn-block" ng-click="clearAll()">
								<strong>Clear</strong>
							</button>
						</div>
					</form>
				</div>
		
			<!-- End Search box -->
		</div>
	</div>
</section>
<div ng-show="isResult">
<!-- 	<br/><br/>
	<div> Search result</div>
	<select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
		<option>3</option>
		<option>5</option>
		<option>10</option>
		<option>20</option>
		<option>30</option>
		<option>40</option>
		<option>50</option>
	</select> 

	<br/> -->
	<div ng-repeat="x in filteredResult">

		<div class="panel panel-default">
			<div class="panel-heading">{{x.name}}</div>
			<div class="panel-body">{{x.name}} at {{x.city}}</div>
		</div>
		

	</div>
	Total Pages : {{totalItems}} Current Pages : {{currentPage}}
	 <pagination
				    max-size="3" 
					    items-per-page="itemsPerPage"
						    total-items="totalItems" 
							    ng-model="currentPage" 
							    	ng-change="pageChanged()"></pagination>
</div>

