


    <!-- Content section Start --> 
    <section id="content">
      <div class="container">
          <div class="row text-center">
              <div class="error-page">
                <h2><a href="https://graygrids.com/item/classix-bootstrap-html5-classified-ads-listing-job-portal-web-template/">You are Using Free Version!</br> Purchase Full Version to Get All Pages and Features</a></h2>
                <a href="https://graygrids.com/item/classix-bootstrap-html5-classified-ads-listing-job-portal-web-template/" class="btn btn-danger btn-lg">Purchase Now</a>
            </div>
          </div>
      </div>
    </section>
    <!-- Content section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-angle-up"></i>
    </a>
  